html{
    background-color: steelblue;
}

body{
    width: 70%;
    margin: 0 auto;
    border: 3px solid black;
    background-color: yellowgreen;
}

img{
    display: block;
    margin: 0 auto;
    border: 8px ridge gold;
    border-radius: 50%;
}

h1 {
    color: steelblue;
}

#secondary {
    color: red;
}