html, body, div {
    box-sizing: border-box;
}
html{
    border: 1px dashed red;
    height: 100%;
}

body{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

div{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-weight: bold;
}

.uno{
    width: 100%;
    background-color: salmon;
}

.dos{
    width: 50%;
    background-color: lightblue;
}

.tres{
    width: 50%;
    background-color: lightgreen;
}

.quatro{
    width: 60%;
    background-color: yellow;
}

.cinco{
    width: 40%;
    background-color: mediumpurple;
}