/*Theme Colors Reference*/
/*whitesmoke*/
/*sandybrown*/
/*duststorm: #DED1BD*/
/*vandykebrown: #683B2B*/
/*acajou: #563727*/
/*coconut: #8F5B34*/
/*mandarin: #E68244*/
/*palegold(foundation): #E8B38C*/

.atf{
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.top{
    opacity: 20%;
    background-color: orange;

}

.top{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
}

.top:hover{
    opacity: 100%;
}

.high{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-size: 1rem;
}


h1{
    color: #563727;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.p1,.p2{
    font-size: 1.5rem;
}

.h2{
    font-family: 'Raleway', sans-serif;
    color: orange;
}

.s1{
    text-align: center;
    height: 300px;
}

.s2{
    height: 1100px;
}

.s3{
    height: 700px;
}

.s4{
    height: 100%;
}