html{
    border: 1px solid mediumpurple;
}

body{
    border: 1px solid mediumpurple;
    margin: 100px;
}

div{
    margin: 20px auto;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: steelblue;
}

#uno{
    background-color: red;
}

#dos{
    background-color: blue;
}

#tres{
    background-color: yellow;
}

#quatro{
background-color: green;
}